{% extends 'base.html.twig' %}

{% block title %}V.Parrot{% endblock %}

{% block body %}

{# SECTION : Carrousel #}

	<div id="carouselExample" class="carousel slide">

		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="d-block w-100">
					<div class="img-carousel img-carousel1"></div>
					<a href="#services">
						<h2 class="title-carousel">SERVICES</h2>
					</a>
				</div>
			</div>

			<div class="carousel-item">
				<div class="d-block w-100">
					<div class="img-carousel img-carousel2"></div>
					<a href="#occasions">
						<h2 class="title-carousel">NOS OCCASIONS</h2>
					</a>
				</div>
			</div>

			<div class="carousel-item">
				<div class="d-block w-100">
					<div class="img-carousel img-carousel3"></div>
					<a href="#avis">
						<h2 class="title-carousel">VOS AVIS</h2>
					</a>
				</div>
			</div>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>

		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>

	</div>

{# SECTION : Services #}

    <div class="services-container" id="services">

        <h3 class="title-section">Nos Services</h3>
        <p class="subtitle-section">Retrouvez ici un accès rapide à nos services</p>

        <div class="services-cards">

        {% for i in service %}
            <div class="services">
                <div class="img-service" style="background-image: {{i.bgimg}};"></div>
                <div class="text-items">
                    <i class="{{i.icone}}"></i>
                    <p class="text-service">{{i.nom|upper}}</p>
                </div> 
            </div>
        {% endfor %}

        </div>

    </div>

{# SECTION : Nos véhicules d'occasions #}

	<div class="occasion-container" id="occasions">

		<h3 class="title-section">Nos véhicules d’occasions</h3>
		<p class="subtitle-section">Achetez votre prochain véhicule sur le garage V.Parrot</p>

		<div class="occasion-cards vehicules-cards">

        {% for product in voiture|slice(0, 3) %} {# //Pour l'affichage des données de l'entité voiture en front #}
            <div class="card vehicules-card" style="width: 25rem;">
                <img src={{ product.img }} class="card-img-top" alt="..." style="object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ product.marque }}</h5>
                    <h6 class="model">{{ product.modele }}</h6>
                    <p class="card-text">{{ product.anneeCirculation }} | {{ product.places }} places | {{ product.boiteVitesse }} | {{ product.km }} km | {{ product.carburant }}</p>
                    <h5 class="price">{{ product.prix }} €</h5>
                    <a href="{{ url('produit') }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}

		</div>

		<a href="{{ url('vehicules') }}" class="btn-link"><button type="button" class="btn btn-primary bouton">Nos véhicules</button></a>

	</div>

	

{# SECTION : Avis #}

    <div id="carouselExampleDark" class="carousel carousel-dark slide" style="background-color: #eeeeee">

        <div class="carousel-indicators">
            {% for i in 0..(avis|length - 1) %}
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ i }}" class="{{ (loop.index == 1) ? 'active' : '' }}" aria-current="{{ (loop.index == 1) ? 'true' : 'false' }}" aria-label="Slide {{ loop.index + 1 }}"></button>
            {% endfor %}
        </div>

        <h3 id="avis" class="title-section" style="color: #4D4D4D">Vos avis comptent !</h3>
            <p class="subtitle-avis subtitle-section" style="font-size: larger">Laissez votre avis !</p>

        <div class="carousel-inner avis-container">

		{# permet d'afficher la variable qu'on veut / meme principe qu'un console.log #}
		{# {{ dump(avis) }} #}

            {% for unAvis in avis %}
                <div class="carousel-item avis {% if loop.first %}active{% endif %}" data-bs-interval="10000">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card card-avis" style="width: 40%;">
                            <div class="card-body avis-body">
                                <p class="avis-text">{{ unAvis.contenu }}</p>
                                <h5 class="last-name-avis">{{ unAvis.nom }}</h5>
                                <h6 class="name-avis">{{ unAvis.prenom }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
		
    </div>

<section class="form-avis">

   <button id="toggleForm" class="btn">Donnez votre Avis</button>

<div id="hiddenFormWrapper">
  <form id="hiddenForm" action="{{ url('home') }}#AvisSubmit"  method="post">

	{# création d'un token pour rendre le formulaire unique #}
	<input type="hidden" name="csrf_token" value="{{csrf_token}}">
	
    <label for="nom">Nom:</label><br>
    <input type="text" id="nom" name="nom"><br>

	<label for="nom">Prenom:</label><br>
    <input type="text" id="prenom" name="prenom"><br>

    <label for="contenu">Avis:</label></br>
    <textarea name="contenu" id="comment" cols="50" rows="10" minlenght="15" maxlenght="250"></textarea>
     <span class="error" id="client_err"></span><br>

	 <input type="submit" value="Envoyer" id="AvisSubmit">

  </form>

	</div>
</section>

{% endblock %}
