{% extends 'base.html.twig' %}

{% block title %}V.Parrot - Nos véhicules{% endblock %}

{% block body %}

<nav class="vehicules-navbar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" >Nos véhicules</li>
        </ol>
    </nav>
</nav>

<section class="vehicules-section">

    <h3 class="title-section">Nos véhicules d’occasions</h3>
    <p class="subtitle-section">Achetez votre prochain véhicule sur le garage V.Parrot</p>

    <div class="occasion-cards vehicules-cards">

        {% for product in voiture|slice(0, 3) %}
            <div class="card vehicules-card" style="width: 25rem;">
                <img src={{ product.img }} class="card-img-top" alt="..." style="object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ product.marque }}</h5>
                    <h6 class="model">{{ product.modele }}</h6>
                    <p class="card-text">{{ product.anneeCirculation }} | {{ product.places }} places | {{ product.boiteVitesse }} | {{ product.km }} km | {{ product.carburant }}</p>
                    <h5 class="price">{{ product.prix }} €</h5>
                    <a href="{{ url('produit') }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="occasion-cards vehicules-cards">
        {% for product in voiture|slice(3, 3) %}
            <div class="card vehicules-card" style="width: 25rem;">
                <img src={{ product.img }} class="card-img-top" alt="..." style="object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ product.marque }}</h5>
                    <h6 class="model">{{ product.modele }}</h6>
                    <p class="card-text">{{ product.anneeCirculation }} | {{ product.places }} places | {{ product.boiteVitesse }} | {{ product.km }} km | {{ product.carburant }}</p>
                    <h5 class="price">{{ product.prix }} €</h5>
                    <a href="{{ url('produit') }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}
    
    </div>

    <div class="occasion-cards vehicules-cards">

        {% for product in voiture|slice(6, 9) %}
            <div class="card vehicules-card" style="width: 25rem;">
                <img src={{ product.img }} class="card-img-top" alt="..." style="object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ product.marque }}</h5>
                    <h6 class="model">{{ product.modele }}</h6>
                    <p class="card-text">{{ product.anneeCirculation }} | {{ product.places }} places | {{ product.boiteVitesse }} | {{ product.km }} km | {{ product.carburant }}</p>
                    <h5 class="price">{{ product.prix }} €</h5>
                    <a href="{{ url('produit') }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}
    
    </div>

</section>

{% endblock %}