{% extends 'base.html.twig' %}

{% block title %}V.Parrot - Nos véhicules{% endblock %}

{% block body %}

<nav class="vehicules-navbar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" >Nos véhicules</li>
        </ol>
    </nav>
</nav>

<section class="vehicules-section">

    <h3 class="title-section">Nos véhicules d’occasions</h3>
    <p class="subtitle-section">Achetez votre prochain véhicule sur le garage V.Parrot</p>

    <div class="occasion-cards vehicules-cards">

        {% for product in voiture|slice(0, 3) %}
            <div class="card vehicules-card" style="width: 25rem;">
                <img src={{ product.img }} class="card-img-top" alt="..." style="object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ product.marque }}</h5>
                    <h6 class="model">{{ product.modele }}</h6>
                    <p class="card-text">{{ product.anneeCirculation }} | {{ product.places }} places | {{ product.boiteVitesse }} | {{ product.km }} km | {{ product.carburant }}</p>
                    <h5 class="price">{{ product.prix }} €</h5>
                    <a href="{{ url('produit') }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="occasion-cards vehicules-cards">
        {% for product in voiture|slice(3, 3) %}
            <div class="card vehicules-card" style="width: 25rem;">
                <img src={{ product.img }} class="card-img-top" alt="..." style="object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ product.marque }}</h5>
                    <h6 class="model">{{ product.modele }}</h6>
                    <p class="card-text">{{ product.anneeCirculation }} | {{ product.places }} places | {{ product.boiteVitesse }} | {{ product.km }} km | {{ product.carburant }}</p>
                    <h5 class="price">{{ product.prix }} €</h5>
                    <a href="{{ url('produit') }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}
    
    </div>

    <div class="occasion-cards vehicules-cards">

        {% for product in voiture|slice(6, 9) %}
            <div class="card vehicules-card" style="width: 25rem;">
                <img src={{ product.img }} class="card-img-top" alt="..." style="object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ product.marque }}</h5>
                    <h6 class="model">{{ product.modele }}</h6>
                    <p class="card-text">{{ product.anneeCirculation }} | {{ product.places }} places | {{ product.boiteVitesse }} | {{ product.km }} km | {{ product.carburant }}</p>
                    <h5 class="price">{{ product.prix }} €</h5>
                    <a href="{{ url('produit') }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}
    
    </div>

</section>

<footer id="horaires">

        <section class="info">

        <img src="img/logo2.png" style="height:10em">
        <ul>
                <li>V. Parrot</li>
                <li>06-06-06-06-06</li>
                <li>v.parrot@legarageparrot.net</li>
                <li>45 Av. Gen. Foch 31000 Toulouse</li>
        </ul>

        </section>

        <section class="horaires">

                <ul>
                        <li>Horaires d'ouverture :</li>
                        {% for i in horaire %}
                                <li>{{ i.jour }} :  {{ i.ouvertureAM }} - {{ i.fermetureAM }} , {{ i.ouverturePM }} - {{ i.fermeturePM }}</li> 
                        {% endfor %}
                </ul>

        </section>

</footer>

{% endblock %}