{% extends 'base.html.twig' %}

{% block title %}Product Name{% endblock %}

{% block body %}

<section class="product-section">

    <nav class="vehicules-navbar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url('vehicules') }}" style="margin: 0;">Nos Véhicules</a></li>
                <li class="breadcrumb-item active" aria-current="page">Produit</li>
            </ol>
        </nav>
    </nav>

    <article class="product-presentation">

        <div class="product-container img-container">

            <img src="../img/car1.jpg" alt="" class="product-img">

            <div class="product-gallery">

                <img src="../img/car1.jpg" alt="" class="img-gallery" onclick = "pushImage(this)">
                <img src="../img/car1-2.jpg" alt="" class="img-gallery inactive" onclick = "pushImage(this)">
                <img src="../img/car1-3.jpg" alt="" class="img-gallery inactive" onclick = "pushImage(this)">
                <img src="../img/car1-4.jpg" alt="" class="img-gallery inactive" onclick = "pushImage(this)">
                <img src="../img/car1-5.jpg" alt="" class="img-gallery inactive" onclick = "pushImage(this)">

            </div>

        </div>

        <div class="product-container product-infos">

            <h1 class="product-title">Mercedes AMG-G63</h1>
            <ul class="product-description">
                <li><i class="fa-solid fa-car feature-icon"></i><span class="product-feature">Marque :</span> Mercedes</li>
                <li><i class="fa-solid fa-car feature-icon"></i><span class="product-feature">Modèle :</span> AMG-G63</li>
                <li><i class="fa-regular fa-calendar feature-icon"></i><span class="product-feature">Mise en circulation :</span> 2002</li>
                <li><img src="../img/icon/seat.png" alt="" width="16px" class="feature-icon"><span class="product-feature">Nombre de places :</span> 5 places</li>
            </ul>

            <ul class="product-description">
                <li><img src="../img/icon/gearbox.png" alt="" width="16px" class="feature-icon"><span class="product-feature">Type de boite :</span> Automatique</li>
                <li><i class="fa-solid fa-road feature-icon"></i><span class="product-feature">Kilométrage :</span> 120.000 km</li>
                <li><i class="fa-solid fa-gas-pump feature-icon"></i><span class="product-feature">Carburant :</span> Électrique</li>
            </ul>
            <p class="product-price">80 000 €</p>
            <p class="contactez-nous"><b>Ce véhicule vous intéresse ?</b> Veuillez nous contacter au 06-06-06-06-06.</p>

        </div>

    </article>

</section>

<footer id="horaires">

        <section class="info">

        <img src="img/logo2.png" style="height:10em">
        <ul>
                <li>V. Parrot</li>
                <li>06-06-06-06-06</li>
                <li>v.parrot@legarageparrot.net</li>
                <li>45 Av. Gen. Foch 31000 Toulouse</li>
        </ul>

        </section>

        <section class="horaires">

                <ul>
                        <li>Horaires d'ouverture :</li>
                        {% for i in horaire %}
                                <li>{{ i.jour }} :  {{ i.ouvertureAM }} - {{ i.fermetureAM }} , {{ i.ouverturePM }} - {{ i.fermeturePM }}</li> 
                        {% endfor %}
                </ul>

        </section>

</footer>

{% endblock %}