{% extends 'base.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block body %}

<section class="form-section">
    {% if app.user %}
        <div class="mb-3">
            Tu es connecté en tant que <span class="login-to-email">{{ app.user.userIdentifier }}</span>. <a href="{{ path('app_logout') }}" class="logout-text">Se déconnecter</a>
        </div>
        {% if app.user.userIdentifier == 'testadmin@gmail.com' %}
            <a href="{{ path('admin') }}" class="logout-text">Accès Administrateur</a>
        {% endif %}
    {% endif %}

    <h1>Voitures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>AnneeCirculation</th>
                <th>Places</th>
                <th>BoiteVitesse</th>
                <th>Km</th>
                <th>Carburant</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.anneeCirculation }}</td>
                <td>{{ voiture.places }}</td>
                <td>{{ voiture.boiteVitesse }}</td>
                <td>{{ voiture.km }}</td>
                <td>{{ voiture.carburant }}</td>
                <td>{{ voiture.prix }}</td>
                <td>
                    <a href="{{ path('app_voiture_show', {'id': voiture.id}) }}" class="logout-text">Afficher</a>
                    <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}" class="logout-text">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_new') }}">Créer</a>

</section>
{% endblock %}
