{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
<section style="background-color: white;">
    <h1>Voiture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ voiture.modele }}</td>
            </tr>
            <tr>
                <th>AnneeCirculation</th>
                <td>{{ voiture.anneeCirculation }}</td>
            </tr>
            <tr>
                <th>Places</th>
                <td>{{ voiture.places }}</td>
            </tr>
            <tr>
                <th>BoiteVitesse</th>
                <td>{{ voiture.boiteVitesse }}</td>
            </tr>
            <tr>
                <th>Km</th>
                <td>{{ voiture.km }}</td>
            </tr>
            <tr>
                <th>Carburant</th>
                <td>{{ voiture.carburant }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prix }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_voiture_index') }}" class="logout-text">Retour à la liste</a>

    <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">Modifier</a>

    {{ include('voiture/_delete_form.html.twig') }}

</section>
{% endblock %}
